<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BankDataMapper">
    <resultMap type="com.kingdee.web.entity.AccountUse" id="accountUseList">
		<result property="account" column="account"/>
		<result property="hourTime" column="hourTime"/>
		<result property="number" column="number"/>

	</resultMap>
	
	<select id="getAccountUseList" resultMap="accountUseList">
	select account,case
	WHEN HOUR(update_time) BETWEEN 0 AND 2 THEN '0000-0200'
	WHEN
	HOUR(update_time) BETWEEN 2 AND 6 THEN '0200-0600'
	WHEN
	HOUR(update_time) BETWEEN 6 AND 9 THEN '0600-0900'
	WHEN
	HOUR(update_time) BETWEEN 9 AND 12 THEN '0900-1200'
	WHEN
	HOUR(update_time) BETWEEN 12 AND 15 THEN '1200-1500'
	WHEN
	HOUR(update_time) BETWEEN 15 AND 18 THEN '1500-1800'
	WHEN
	HOUR(update_time) BETWEEN 18 AND 22 THEN '1800-2200'
	else '2200-2400'
	end as 'hourTime' ,
	COUNT(id) as number FROM stat_log where
	update_time>#{update_time} and
	account=#{account} AND
	bank_type=#{bank_type} and step=0 and status=1
	GROUP by 1,2

   </select>


	<select id="getAccountUseCount" resultType="Integer">
		select count(id) as count from stat_log where update_time>#{update_time} and
		step=0 and status=1
		and account=#{account} and bank_type=#{bank_type}
	</select>

	<select id="phoneNumForAcceptSmsVerifyCode" resultType="String">
		SELECT phone_num FROM phone_for_sms_verify_code WHERE bank_type = #{bankType} 
		AND login_name = #{loginName}  AND step = 1  AND is_success = 1 GROUP BY create_time DESC LIMIT 1
	</select>
	
 	<insert id="saveAcceptSmsVerifyCodePhoneNum">
 		INSERT INTO phone_for_sms_verify_code (login_name, bank_type, phone_num, step, create_time, is_success) 
 		VALUES (#{loginName}, #{bankType}, #{phoneNum}, #{step}, NOW(), #{isSuccess})
  	</insert>
</mapper>
