<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MonitorMapper">

    <insert id="saveProcess">
    	insert into process_log(account,step,status,detail,bank_type,time) values (#{account},#{step},#{status},#{detail},#{bankType},NOW())
    </insert>

	<insert id="saveProc">
    	insert into proc_log(account,bankType,`key`,detail,exception,attr0,attr1,attr2,attr3,attr4) values (#{account},#{bankType},#{key},#{detail},#{exception},#{attr0},#{attr1},#{attr2},#{attr3},#{attr4})
    </insert>

    <insert id="saveStat">
    	insert into stat_log(account,step,status,bank_type,update_time,last,counter,exception_detail,terminalType,terminalVersion)
    	values(#{account},#{step},#{status},#{bankType},NOW(),#{last},#{counter},#{detail},#{terminalType},#{productVersion})
    </insert>

    <insert id="saveTraceInfo">
    	insert into sys_trace(udid,token,protocolVersion,productName,productVersion,create_time) values(#{udid},#{token},#{protocolVersion},#{productName},#{productVersion},NOW())
    </insert>

     <insert id="saveEncrypt">
    	insert into encrypt_log(time,inTaskCount,deTaskCount,uploadTaskCount,serverIp)
    	values(NOW(),#{inTaskCount},#{deTaskCount},#{uploadTaskCount},#{serverIp})
    </insert>

    <select id="lastError" resultType="Date">
    	select time from process_log where bank_type=#{bankType} and step=-1 order by time desc limit 1
    </select>

    <select id="authorize">
    	insert into authorize_info(udid,time,bank_type,login_name,content_type,source_form,cycle_type)
    	values(#{authorizeInfo.udid},#{authorizeInfo.time},#{authorizeInfo.bankType},#{authorizeInfo.loginName},#{authorizeInfo.authorizeContent},#{authorizeInfo.authorizeSourceFrom},#{authorizeInfo.authorizeCycle})
    </select>

    <insert id="saveAutoValidStat">
    	insert into stat_auto_recognize_captcha(bank_type,time,status,captcha_id,captcha,error_msg,platform_id) 
    	values(#{bankType},NOW(),#{status},#{captchaId},#{captcha},#{errorMsg},#{platformId})
    </insert>

    <insert id="validGetStat">
    	insert into stat_valid(status,bank_type,time,last)
    	values(#{status},#{bankType},NOW(),#{last})
    </insert>

    <insert id="statCloudCode">
    	insert into stat_cloud_code1(status,bank_type,time,last)
    	values(#{status},#{bankType},NOW(),#{last})
    </insert>

    <insert id="addPeakStatisc">	
		insert into peak_stat(time,bank_type,num,type) values
		<foreach collection="peakList" item="peakItem" separator=",">
			(#{peakItem.time},#{peakItem.bankType},#{peakItem.num},#{peakItem.peakType})
		</foreach>
	</insert>
	
	 <insert id="addRemindStat">
    	insert into stat_remind(productName,productVersion,udid,create_time,type)
    	values(#{productName},#{productVersion},#{udid},NOW(),#{type})
    </insert>
    <insert id="refreshCardStat">
    	insert into stat_refresh_card(terminal_type,terminal_version,create_time,total_account,success_account,refresh_time)
    	values(#{terminalType},#{terminalVersion},NOW(),#{totalRefreshAccount},#{totalRefreshSuccessAccount},#{totalRefreshTime})
    </insert>
    
    <insert id="addTraceLog">
    	insert into trace_log(account,bankType,proxy,process,fetchAccountTime,fetchBillsTime,fetchRecordsTime,analyzeAccountTime,analyzeRecordsTime,fileStoreTime,begin,end,allTime,recordsCount,exceptions)
    	values(#{tl.account},#{tl.bankType},#{tl.proxy},#{tl.process},#{tl.fetchAccountTime},#{tl.fetchBillsTime},#{tl.fetchRecordsTime},#{tl.analyzeAccountTime},#{tl.analyzeRecordsTime},#{tl.fileStoreTime},#{tl.begin},#{tl.end},#{tl.allTime},#{tl.recordsCount},#{tl.exceptions})
    </insert>

    <insert id="uploadLog">
		insert into upload_log(uid, token, logs) values (#{uid},#{token},#{logs})
    </insert>

	<insert id="statTerminalData">
     	insert into stat_terminal1
     		(bank_type,terminal_type,product_version,loginname_type,terminal_login_result,start_login,login_result
     		 ,bill_result,parser_result,login_spend_time,bill_spend_time,parser_spend_time,create_time)
     	 values
    	<foreach collection="list" item="data" separator=",">
	    	(#{data.bankType},#{data.terminalType},#{data.productVersion},#{data.loginNameType},#{data.localLoginResult},#{data.startLogin},#{data.loginResult}
	    	 ,#{data.getBillResult},#{data.parseResult},#{data.loginSpendTime},#{data.getBillSpendTime},#{data.parseSpendTime},NOW())
       	</foreach>
	</insert>

	<insert id="saveAccountAttr">
		insert into account_attr(login_name, bank_type, city, city_code, ip, proxy, attr1, attr2, attr3, attr4, attr5) values (#{loginName},#{bankType},#{city},#{cityCode},#{ip},#{proxy},#{attr1},#{attr2},#{attr3},#{attr4},#{attr5})
    </insert>

</mapper>