<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
   <filter>
   <filter-name>charEncoding</filter-name>
   <filter-class>com.back.filter.CharEncoding</filter-class>
  </filter>
  <filter-mapping>
   <filter-name>charEncoding</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AddPermissionServlet</servlet-name>
    <servlet-class>com.back.servlet.AddPermissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PermissionListServlet</servlet-name>
    <servlet-class>com.back.servlet.PermissionListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectDetailPermissionServlet</servlet-name>
    <servlet-class>com.back.servlet.SelectDetailPermissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePermissionServlet</servlet-name>
    <servlet-class>com.back.servlet.UpdatePermissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePermissionServlet</servlet-name>
    <servlet-class>com.back.servlet.DeletePermissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IntoBackUserServlet</servlet-name>
    <servlet-class>com.back.servlet.IntoBackUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBackUserServlet</servlet-name>
    <servlet-class>com.back.servlet.AddBackUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAdminsServlet</servlet-name>
    <servlet-class>com.back.servlet.ListAdminsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.back.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>com.back.servlet.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.back.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.back.servlet.ListUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.back.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MastDeleteUserServlet</servlet-name>
    <servlet-class>com.back.servlet.MastDeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoadAdminServlet</servlet-name>
    <servlet-class>com.back.servlet.DownLoadAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExcelImportServlet</servlet-name>
    <servlet-class>com.back.servlet.ExcelImportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCommentServlet</servlet-name>
    <servlet-class>com.back.servlet.ListCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>com.back.servlet.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MustDeleteCommentServlet</servlet-name>
    <servlet-class>com.back.servlet.MustDeleteCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListWeiboServlet</servlet-name>
    <servlet-class>com.back.servlet.ListWeiboServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditWeiboServlet</servlet-name>
    <servlet-class>com.back.servlet.EditWeiboServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MastDeleteWeiboServlet</servlet-name>
    <servlet-class>com.back.servlet.MastDeleteWeiboServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListRelationServlet</servlet-name>
    <servlet-class>com.back.servlet.ListRelationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectRelationDetailServlet</servlet-name>
    <servlet-class>com.back.servlet.SelectRelationDetailServlet</servlet-class>
 </servlet>
  <servlet>
    <servlet-name>ListBlogHotServlet</servlet-name>
    <servlet-class>com.back.servlet.ListBlogHotServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MastDeleteHotblogServlet</servlet-name>
    <servlet-class>com.back.servlet.MastDeleteHotblogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditHotblogServlet</servlet-name>
    <servlet-class>com.back.servlet.EditHotblogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddHotblogServlet</servlet-name>
    <servlet-class>com.back.servlet.AddHotblogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCollectionServlet</servlet-name>
    <servlet-class>com.back.servlet.ListCollectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MastDeleteCollectionServlet</servlet-name>
    <servlet-class>com.back.servlet.MastDeleteCollectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditCollectionServlet</servlet-name>
    <servlet-class>com.back.servlet.EditCollectionServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>AddPermissionServlet</servlet-name>
    <url-pattern>/AddPermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PermissionListServlet</servlet-name>
    <url-pattern>/PermissionListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectDetailPermissionServlet</servlet-name>
    <url-pattern>/SelectDetailPermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePermissionServlet</servlet-name>
    <url-pattern>/UpdatePermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePermissionServlet</servlet-name>
    <url-pattern>/DeletePermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IntoBackUserServlet</servlet-name>
    <url-pattern>/IntoBackUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBackUserServlet</servlet-name>
    <url-pattern>/AddBackUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAdminsServlet</servlet-name>
    <url-pattern>/ListAdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MastDeleteUserServlet</servlet-name>
    <url-pattern>/MastDeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadAdminServlet</servlet-name>
    <url-pattern>/DownLoadAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelImportServlet</servlet-name>
    <url-pattern>/ExcelImportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCommentServlet</servlet-name>
    <url-pattern>/ListCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MustDeleteCommentServlet</servlet-name>
    <url-pattern>/MustDeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListWeiboServlet</servlet-name>
    <url-pattern>/ListWeiboServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditWeiboServlet</servlet-name>
    <url-pattern>/EditWeiboServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MastDeleteWeiboServlet</servlet-name>
    <url-pattern>/MastDeleteWeiboServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListRelationServlet</servlet-name>
    <url-pattern>/ListRelationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectRelationDetailServlet</servlet-name>
    <url-pattern>/SelectRelationDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListBlogHotServlet</servlet-name>
    <url-pattern>/ListBlogHotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MastDeleteHotblogServlet</servlet-name>
    <url-pattern>/MastDeleteHotblogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditHotblogServlet</servlet-name>
    <url-pattern>/EditHotblogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddHotblogServlet</servlet-name>
    <url-pattern>/AddHotblogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCollectionServlet</servlet-name>
    <url-pattern>/ListCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MastDeleteCollectionServlet</servlet-name>
    <url-pattern>/MastDeleteCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCollectionServlet</servlet-name>
    <url-pattern>/EditCollectionServlet</url-pattern>
  </servlet-mapping>	
 
</web-app>
