<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<!-- 输出日志到控制台  ConsoleAppender -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p [%c:%M:%L]  %X{sessionId} %X{loginName} %X{bankType} - %m%n" />
		</layout>
	</appender>

	<appender name="app" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/app.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p [%c:%M:%L]  %X{sessionId} %X{loginName} %X{bankType} - %m%n" />
		</layout>
	</appender>
	
	<appender name="proxyappender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/proxy.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p [%c:%M:%L] - %m%n" />
		</layout>
	</appender>

	<appender name="smsApp" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/sms.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p [%c:%M:%L] - %m%n" />
		</layout>
	</appender>

	<logger name="com.mymoney.sms" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="smsApp"/>
	</logger>

	<logger name="proxy" additivity="false">
		<level value="info"/>
		<appender-ref ref="proxyappender" />
	</logger>

	<logger name="com.kingdee">
		<level value="ERROR"/>
	</logger>
	
	<root>
		<level value="ERROR" />
		<appender-ref ref="console"/>
		<appender-ref ref="app" />
	</root>
</log4j:configuration>
